.user-panel-bg {
    background: #606c88; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #606c88,
        #3f4c6b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #606c88,
        #3f4c6b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.background-new {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.royal-bg {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.main-sidebar {
    border-top-right-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
    border-top-left-radius: 15px;
}
