.user-panel-bg {
    background: #606c88; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #606c88,
        #3f4c6b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #606c88,
        #3f4c6b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.layout-navbar-fixed .wrapper .brand-link.mini{
    width: 4.6rem;
}

.layout-navbar-fixed.layout-fixed .wrapper div.sidebar {
    margin-top: 0;
}